<% title "Admin/Book" %>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Checked Url:</strong>
  <%= @book.checked_url %>
</p>
<p>
  <strong>Linked Url:</strong>
  <%= @book.linked_url %>
</p>

<p>
  <%= link_to "Edit", edit_admin_book_path(@book) %> |
  <%= link_to "Destroy", [:admin, @book], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_books_path %>
</p>
