<% title "Books" %>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Checked Url</th>
    <th>Linked Url</th>
  </tr>
  <% for book in @books %>
    <tr>
      <td><%= book.name %></td>
      <td><%= book.title %></td>
      <td><%= book.checked_url %></td>
      <td><%= book.linked_url %></td>
      <td><%= link_to "Show", book %></td>
    </tr>
  <% end %>
</table>

